.App {
  text-align: center;
  color: white;
} 

.grid-container {
  display: grid;
  background-color: #2c2c4e;
  grid-row-gap: 16px;
  grid-column-gap: 62px;
  padding: 10px;
  margin-left: 37%;
  width: 10%;
  grid-template-columns:10% 10% 10% 10%;
  min-width: 400px;
}
 input[type=text] {
  width: 22%;
  padding: 12px 20px;
  font-size: 35px;
  margin-bottom: 17px;
  background-color:rgb(44, 44, 78);
  height: 72px;
  color: white;
  margin-right: 69px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 button {
  height: 86px;
  width: 87px;
  font-size: 25px;
  border-radius: 8px;
} 
 @media only screen and (max-width: 768px) {
  .grid-container {
    background-color: rgb(44, 44, 78);
    width: 95%;
    margin-left: 2px;
    grid-column-gap: 43px;
    margin-top: 2px;
    height: 528px;
    display: grid;
  }
  button{
    width: 73px;
  }
  input[type=text]{
    width: 359px;
  }
} 



